@charset "UTF-8";

body {
    background-color: #F2F2F2;
}

div {
    text-align: center;
    background-color: #a5a5a5;
    height: 100px; /* altura */
    width: 100px; /* largura */
        /* ---------- */
    border: 1px solid black;
}

div:hover {
    background-color: chartreuse ;
}