@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fundo: #2e2e2e;
    --fundo-header: #1a1a1a;

    --color-font: white;

    --margin-bottom-hs: 20px;

    --color-font-footer: #d4d4d4;
}

body {
    background-color: var(--fundo);
}

header {
    background-color: var(--fundo-header);
    width: 100%;
    height: 100px;

    box-shadow: 0px 2px 9px #000000a8;

    display: inline-block;

}
header > div > img {
    width: 180px;

    margin: 10px;
}
header > div {
    width: 180px;
}
header > nav {
    display: inline-block;
    position: absolute;

    margin-left: 200px;
    margin-top: -44px;
}
header > nav > div {
    display: inline-block;

    margin-left: 70px;
    margin-top: -40px;
    padding: 10.9px;

    transition-duration: 0.4s;
    transition-delay: 0.2s;
}

header > nav > div > a {
    color: var(--color-font);

    text-decoration: none;
}
header > nav > div:hover {
    background-color: #d4d4d433;

    border-radius: 10px;
}
header > nav > div:hover > a {
    color: white;

    text-decoration: none;
}

main > article {
    background-color: var(--fundo);
    max-width: 600px;
    min-width: 200px;

    margin: 20px 5% ;

    padding: 30px;
}
main h1 {
    color: var(--color-font);

    text-align: center;

    margin-bottom: var(--margin-bottom-hs);
}
main h2{
    color: var(--color-font);

    text-align: center;
    
    margin-bottom: var(--margin-bottom-hs);
}

main p {
    color: var(--color-font);

    margin-bottom: 30px;

    text-align: justify;
    text-indent: 5px;
}

footer {
    background-color: var(--fundo-header);

    height: 100px;

    padding-top: 10px ;
    padding-bottom: 10px;

    box-shadow: 0px -2px 9px #00000080;
}

footer h1 {
    text-align: center;

    color: var(--color-font-footer);

    margin-bottom: 10px;
}

footer > h1 > div {
    display: inline-block;
}

footer > h1 > div.name:hover {
    color: var(--color-font);
}

footer > div {
    display: block;
    margin: auto;
    width: 248px;
}

footer img {
    width: 40px;
}

footer ul {
    list-style: none;

    margin: auto;

    display: block;

}

footer li {
    display: inline-block;
    margin: 15px 15px 0px 15px;
    width: 50px;
}